Django==1.6.5
MySQL-python==1.2.3c1
Pygments==1.1.1
distribute==0.6.10
django-appconf==0.6
django-compressor==1.4
django-taggit==0.12
ethtool==0.6
gyp==0.1
iniparse==0.3.1
iwlib==1.0
pycurl==7.19.0
pygpgme==0.1
python-memcached==1.43
six==1.7.2
urlgrabber==3.9.1
virtualenv==1.10.1
yum-metadata-parser==1.1.2
