#keywords-button {
    font-size: 50%;
    color: #7f7f7f;
    font-weight: normal;
}

#keywords-button:hover {
    background-color: #4d4d4d;
    color: #ffffff;
    cursor: pointer;
}

#keywords {
    position: absolute;
    top: 100px;
    left: 100px;
    font-size: 75%;
    background-color: #4d4d4d;
    color: #ffffff;
    text-align: justify;
    width: 50%;
    padding: .5em;
    border: 1px solid #f18137;
    z-index: 200;
    display: none;
}

.keyword-first-letter {
    font-weight: bold;
    color: #f18137;
}

#keywords-close {
    width: 24px;
    height: 24px;
    background-image: url('../images/close.png');
    z-index: 210;
    position: absolute;
    display: block;
    top: -13px;
    right: -13px;
}

