/* 
    Document   : code
    Created on : 2012.09.04., 10:05:47
    Author     : polonkai.gergely
    Description:
        Purpose of the stylesheet follows.
*/

.code-chunk {
    background-color: #b5b5b5;
    padding: 10px;
}

.code-chunk .code-title {
    text-indent: 0 !important;
    font-size: 120%;
    font-weight: bold;
}

.code-chunk .code-description {
    border: 1px solid #333;
    background-color: #d9d9d9;
    padding: 3px;
    text-indent: 0 !important;
    margin: .5em 0 0 0 !important;
    font-size: 75%;
    color: #444;
}

.code-chunk .code {
    font-family: monospace;
    background-color: #002b36;
    padding: 5px;
    height: 300px;
    overflow: auto;
}

.code-chunk .code * {
    font-family: monospace;
}

.code-chunk .code ol {
    background-color: #002b36;
    color: #586e75;
}

